

h2 {
	font-family: "Lato", Helvetica ,sans-serif;
	font-size: 2.171vw;
	margin-left: 0;
	max-width:50%;
	line-height:1.5;
}

h4{
	font-family: "Lato", Helvetica ,sans-serif;
	font-size: 1vw;
	margin-left: 0;
	line-height:1.5;
}

.card{
/*Adiciona sombra para criar o efeito de 'card'*/
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
transition: 0.3s;
width: 30%;
float: left;
margin: 12px;
}

.card:hover{
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1);
}
.container{
	padding: 2px 16px;
	text-align: center;
}

.full-image{
	max-width: 100%;
	height: auto;
}

.thirds-image{
	max-width: 33%;
	height: auto;
}


.icon-bar{
	width: 90px; /* Set a specific width*/
	background-color: : #555;
}

.icon-bar a {
	display:  block; /*Make the links appear below each other instead of side-by-syde*/
	text-align: center; /*Center-align text*/
	padding: 16px;
	transition: all 0.3s ease; /*Add transition for hover effects*/
	color: white;
	font-size: 36px;
}

.icon-bar a:hover {
background-color: #000;/* Add a hover color */
}

.active{
	background-color: #04AA6D; /* Add an active/current color */
}

img{
	border-radius:15px;
}
.pos-right{
	float: right;
	position: absolute;
	max-width: 30%;
	right: 10%;
	top: 20%;
	margin: 10px 10px 10px 10px;
}
img.image-center{
	padding-left:5px;
	padding-right: 5px ;
}

p,label{
	font-family: "Lato", Helvetica ,sans-serif;
	font-size:14px;
	padding-top: 10px;
	line-height: 1.8;

}

section{
	padding: 10% 15% 10% 15%;
	position: relative;
	height: 75%;
	text-align:center;
	max-width: 100%;
}

section.two{
	padding: 5% 10% 10% 10%;
	max-width: 100%;
	text-align:left;
}